# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build results
[Bb]in/
[Bb]in-[Oo]bj/

# Visual Studio 2017/2019 cache/options directory
.vs/

# Files 
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
