# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build results
**/[Bb]in/
**/[Bb]in-[Oo]bj/
#**/[Bb]in-[Ii]nt/

# Visual Studio 2017/2019 cache/options directory
.vs/

#ImGui
imgui.ini

# Files 
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

#Exeption to Bin Exclusion
!vendor/bin

#Logging
*.json
