[submodule "Hexagon/vendor/GLFW"]
	path = Hexagon/vendor/GLFW
	url = https://github.com/glfw/glfw
	branch = master
[submodule "Hexagon/vendor/glm"]
	path = Hexagon/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Hexagon/vendor/imgui"]
	path = Hexagon/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "Hexagon/vendor/spdlog"]
	path = Hexagon/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
